/data/cache
/data/log
/data/sysdata/*

/upload/*
/nbproject/private/
/nbproject/*.properties
/nbproject
/source/plugin/tom_editor/editor/attached/
/data/template
/config/config_global.php
/config/config_ucenter.php
/config/config_global.php
/config/config_ucenter.php
/data/sysdata
/source/plugin/tom_pintuan/logs/*
/data/attachment/tomwx/
